<main>
  <div class="login-screen">
    <div class="content">
      <h1><span>Zero</span>Depression</h1>

      <h3>Hello Councillor</h3>
      <p>Welcome</p>
      <div class="dashboard">
        <p>Dashboard Overview</p>
        <div class="card" routerLink="/chat/new"  >
          <h2>New Chats</h2>
        </div>
        <div class="card" routerLink="/chat/active">
          <h2>Active Chats</h2>
        </div>
        <div class="card" routerLink="/chat/previous">
          <h2>Previous Chats</h2>
        </div>
        <div class="card" routerLink="/chat/all">
          <h2>All Chats</h2>
        </div>
      </div>
    </div>
  </div>
</main>
