<main>
  <div class="back">
    <img
      src="../../../assets/back.png"
      alt="back arrow"
      routerLink="/dashboard"
    />
    <h1><span>Zero</span>Depression</h1>
  </div>
  <div class="chats">
    <!-- dots designs -->
    <div class="ellipses">
      <div class="first">
        <img src="../../../assets/3dots.png" alt=" 3 dots" />
      </div>
      <div class="sec">
        <img src="../../../assets/4dots.png" alt="4 dots" />
      </div>
      <div class="third">
        <img src="../../../assets/5dots.png" alt="5 dots" />
      </div>
    </div>
    <section>
      <div class="intro">
        <img src="../../../assets/smiley.png" alt="smiley image" />
        <div class="greet">
          <p>Typing..........</p>
          <h4>Hello Champion !!!</h4>
          <h5 class="call">What should our councillor call you ?</h5>
        </div>
      </div>

      <div class="note">
        <p><strong>Note:</strong></p>
        <p>
          You can reply in the reply section. Click send or enter key to send
          reply
        </p>
      </div>

      <div class="answer-chat">
        <div class="typo">
          <p>Typing..........</p>
          <h3>Bayo</h3>
        </div>
        <img src="../../../assets/smiley.png" alt="smiley image" />
      </div>

      <div class="counsellor-chat">
        <img src="../../../assets/smiley.png" alt="smiley image" />
        <div class="chats">
          <p>Hello Bayo, What a a good day to be alive !!!</p>
          <p>I'm Councillor Sarah Cornor, but you can call me Sarah.</p>
          <p>I'm a mother of 2 and i am happilu married to an Engineer.....</p>
        </div>
      </div>

      <article>
        <p>Talk to me anonimously now</p>
        <p>
          Please note that we dont have access to you identity, so feel free
        </p>
      </article>

      <div class="last-comment">
        <img src="../../../assets/smiley.png" alt="smiley image" />
        <p>I'll be your Councillor for today</p>
      </div>

      <div class="input-reply">
        <input type="text" placeholder="Type here......." />
        <button>
          <img src="../../../assets/replyrArow.png" alt="reply arrow" />
          <p>Reply</p>
        </button>
      </div>
    </section>
  </div>
</main>
