<main>
  <div class="login-screen">
    <div class="content">
      <div class="back" >
          <img src="../../../assets/back.png" alt="back arrow" routerLink='/dashboard'>
          <h1><span>Zero</span>Depression</h1>
      </div>

      
      <div class="dashboard">
        <p>All Chats</p>
        <!-- implement using map -->
        <div class="chat-cards">
            <!-- card start -->
            <div class="card" routerLink="/chat/admin">
                <img src="../../../assets/smiley.png" alt="smiles">
                <div class="info">
                    <div class="top">
                        <h3>Bayo</h3>
                        <div class="active"></div>
                    </div>
                    <p>Nisi deserunt ullamco ullamco ad consectetur. </p>
                </div>

            </div>
            <!-- card start -->
            <div class="card" routerLink="/chat/admin">
                <img src="../../../assets/smiley.png" alt="smiles">
                <div class="info">
                    <div class="top">
                        <h3>Bayo</h3>
                        <div class="active"></div>
                    </div>
                    <p>Nisi deserunt ullamco ullamco ad consectetur. </p>
                </div>

            </div>
            <!-- card start -->
            <div class="card" routerLink="/chat/admin">
                <img src="../../../assets/smiley.png" alt="smiles">
                <div class="info">
                    <div class="top">
                        <h3>Bayo</h3>
                        <div class="active"></div>
                    </div>
                    <p>Nisi deserunt ullamco ullamco ad consectetur. </p>
                </div>

            </div>
            <!-- card start -->
            <div class="card">
                <img src="../../../assets/smiley.png" alt="smiles">
                <div class="info">
                    <div class="top">
                        <h3>Bayo</h3>
                        <div class="unactive"></div>
                    </div>
                    <p>Nisi deserunt ullamco ullamco ad consectetur. </p>
                </div>

            </div>
            <!-- card start -->
            <div class="card">
                <img src="../../../assets/smiley.png" alt="smiles">
                <div class="info">
                    <div class="top">
                        <h3>Bayo</h3>
                        <div class="unactive"></div>
                    </div>
                    <p>Nisi deserunt ullamco ullamco ad consectetur. </p>
                </div>

            </div>
            <!-- card start -->
            <div class="card">
                <img src="../../../assets/smiley.png" alt="smiles">
                <div class="info">
                    <div class="top">
                        <h3>Bayo</h3>
                        <div class="unactive"></div>
                    </div>
                    <p>Nisi deserunt ullamco ullamco ad consectetur. </p>
                </div>

            </div>
        </div>
        
      </div>
    </div>
  </div>
</main>

